<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<!--本次项目前端采用react框架实现，并未采用模板技术-->
<!--<table>-->
<!--    {% for x in data %}-->
<!--    {% if forloop.counter0|divisibleby:9 %}<tr>{% endif %}-->
<!--        <td> {{x }} </td>-->
<!--    {% if forloop.counter|divisibleby:9 %}</tr>{% endif %}-->
<!--    {% endfor %}-->
<!--</table>-->
<table>
    {% for x in data %}
    {% if forloop.counter0|divisibleby:9 %}<tr
        style="color:{{forloop.counter|divisibleby:2|yesno:'red, blue'}}">{% endif %}
        <td>{{x}}</td>
    {% if forloop.counter|divisibleby:9 %}</tr>{% endif %}
    {% endfor %}
</table>
</body>
</html>